<% provide(:title, "Dashboard") %>
<body class="body-dashboard">
<script type="text/javascript">$(document).ready(main);</script>
<!--Navbar-->
<%= render "layouts/header" %>
<!--Container-->
<div class="container-fluid">
  <!--Empty Coloumn-->
  <div class="col-md-1"></div>
  <!--Body-->
  <div class="col-md-10 contents">
    <!--Tabs-->
    <div class="col-md-3 tabs">
      <div class="list-group">
        <a href="#" class="list-group-item tab-1 active">My Projects</a>
        <a href="#" class="list-group-item tab-2">List of Users</a>
        <a href="#" class="list-group-item tab-3">Tutorial</a>
      </div>
      <div class="list-group">
        <a href='#' role="button" class="list-group-item" data-toggle="modal" data-target="#new-proj">Create New Project</a>
      </div>
    </div>
    <!--Contents-->
    <div class="col-md-9 data">
      <!--My Projects-->
      <div class="col-md-12 data-1">
        <div class="error"><%= flash.now[:danger] %><%= flash.now[:success]%></div>
        <% @projects = current_user.projects.all %>
        <% if @projects.length == 0 %>
        <center class="col-md-12 heading-dash">
          <h1 class='tut-title'>
            You don't have any projects!
          </h1>
          <h2 class='tut-subtitle'>
            <a href='#' data-toggle="modal" data-target="#new-proj">Create one now!</a>
          </h2>
        </center>
        <% else %>
        <table class="table-hover">
          <thead>
            <tr>
              <th>NAME</th>
              <th>DESCRIPTION</th>
              <th>OWNER</th>
            </tr>
          </thead>
          <tbody>
            <% @projects.each do |project| %>
              <tr>
                <td><%= link_to project_path(project) do %><%= project.name %><% end %></td>
                <td style="word-wrap: break-word"><%= project.description %></td>
                <% @own = Permission.find_by(project_id: project.id, level: "owner") %>
                <% @owner = User.find_by(id: @own.user_id) %>
                <td><%= @owner.username %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
      </div>
      <!--Tab 2-->
      <div class="col-md-12 data-2">
        <table class="table-hover">
          <thead>
            <tr>
              <th>USERNAME</th>
              <th>NAME</th>
              <th>LOCATION</th>
              <th>INTRODUCTION</th>
            </tr>
          </thead>
          <tbody>
            <% @users = User.all %>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.username %></td>
                <td><%= user.name %></td>
                <td><%= user.location %></td>
                <td style="word-wrap: break-word"><%= user.description %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% if false %>
        <div class="col-md-4">
          <!--Post-->
          <div class="thumbnail">
            <!--Thumbnail-->
            <div class="img-crop">
              <%= image_tag "thumbnail.jpg", alt: "Lorem Ipsum", class: "img-responsive" %>
            </div>
            <!--Caption-->
            <div class="caption">
              <h3 class="caption-text">Piano exercise</h3>
              <p>Are you guys ready for the "Animenz challenge"?<br/>Go and find it out how tough you really are on the piano!</p>
              <p><a href="#" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Send Request</a></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-md-12 data-3">
        <!--Center row-->
        <center class="col-md-12 heading-dash">
          <h1 class="tut-title">
            First time using the editor?
          </h1>
          <h2 class="tut-subtitle">
            <%= link_to tutorial_path do %>Get started now!<% end %>
          </h2>
        </center>
      </div>
      <!--Create tab-->
      <div class="modal fade" id="new-proj" tabindex="-1" role="dialog" aria-labelledby="Create New Project" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Create New Project</h4>
            </div>
            <div class="modal-body">
              <% @project = Project.new %>
              <%= form_for(@project) do |f| %>
              <table class="table-hover">
          <tbody>
            <tr>
              <td>
                <p><%= f.label :name %></p>
              <td>  
                <div class="input-group">
                  <%= f.text_field :name, placeholder: "Project Name", class: "form-control" %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <p><%= f.label :description %></p>
              <td>  
                <div class="input-group">
                  <%= f.text_area :description, placeholder: "Project Description", class: "form-control", style: "overflow:auto; resize:none"%>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
            <div class="modal-footer">
              <%= f.submit class:"btn btn-primary btn-block", value:"CREATE PROJECT" %>
              <% end %>
              <a href="#" type="cancel" class="btn btn-default btn-block modal-cancel">CANCEL</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>