<% provide(:title, "Profile") %>
<body class="profile body-main">
<!--Navbar-->
<%= render "layouts/header" %>
<!--Container-->
<div class="container-fluid">
  <!--Body-->
  <div class="col-md-12 tabs">
    <!--Tabs-->
    <div class="col-md-3 tabs">
      <div class="list-group collapse navbar-collapse menu-list">
        <a href="#" class="list-group-item">Personal Info</a>
        <a href="#" class="list-group-item">Music Background</a>
        <a href="#" class="list-group-item">Preferences</a>
        <a href="#" class="list-group-item">Account Settings</a>
      </div>
    </div>
    <!--Contents-->
    <div class="col-md-9 data">
      <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>
