<% provide(:title, "Dashboard") %>
<body class="body-main">
<!--Navbar-->
<%= render "layouts/header" %>
<!--Container-->
<!--Container-->
<div class="container-fluid">
  <!--News Feed-->
  <div class="col-md-12 contents">
    <!--Left Menu-->
    <div class="col-md-3 menu">
      <div class="list-group collapse navbar-collapse menu-list">
        <a href="#" class="list-group-item">News Feed</a>
        <a href="#" class="list-group-item disabled">Manage My Projects</a>
        <a href="#" class="list-group-item disabled">Browse Completed Pieces</a>
        <a href="#" class="list-group-item list-group-item-danger">Create New Project</a>
      </div>
    </div>
    <!--Updates-->
    <div class="col-md-9 updates">
      <div class="col-md-4">
        <!--Post-->
        <div class="thumbnail">
          <!--Thumbnail-->
          <%= image_tag "thumbnail.jpg", alt: "Lorem Ipsum", class: "img-responsive" %>
          <!--Caption-->
          <div class="caption">
            <h3 class="caption-text">Piano exercise</h3>
            <p>Are you guys ready for the "Animenz challenge"?<br/>Go and find it out how tough you really are on the piano!</p>
            <p><a href="#" class="btn btn-primary" role="button" disabled="disabled">View</a> <a href="#" class="btn btn-default" role="button" disabled="disabled">Send Request</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <!--Post-->
        <div class="thumbnail">
          <!--Thumbnail-->
          <%= image_tag "thumbnail.jpg", alt: "Lorem Ipsum", class: "img-responsive" %>
          <!--Caption-->
          <div class="caption">
            <h3 class="caption-text">Piano exercise</h3>
            <p>Are you guys ready for the "Animenz challenge"?<br/>Go and find it out how tough you really are on the piano!</p>
            <p><a href="#" class="btn btn-primary" role="button" disabled="disabled">View</a> <a href="#" class="btn btn-default" role="button" disabled="disabled">Send Request</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <!--Post-->
        <div class="thumbnail">
          <!--Thumbnail-->
          <%= image_tag "thumbnail.jpg", alt: "Lorem Ipsum", class: "img-responsive" %>
          <!--Caption-->
          <div class="caption">
            <h3 class="caption-text">Piano exercise</h3>
            <p>Are you guys ready for the "Animenz challenge"?<br/>Go and find it out how tough you really are on the piano!</p>
            <p><a href="#" class="btn btn-primary" role="button" disabled="disabled">View</a> <a href="#" class="btn btn-default" role="button" disabled="disabled">Send Request</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <!--Post-->
        <div class="thumbnail">
          <!--Thumbnail-->
          <%= image_tag "thumbnail.jpg", alt: "Lorem Ipsum", class: "img-responsive" %>
          <!--Caption-->
          <div class="caption">
            <h3 class="caption-text">Piano exercise</h3>
            <p>Are you guys ready for the "Animenz challenge"?<br/>Go and find it out how tough you really are on the piano!</p>
            <p><a href="#" class="btn btn-primary" role="button" disabled="disabled">View</a> <a href="#" class="btn btn-default" role="button" disabled="disabled">Send Request</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
