<% provide(:title, "Harmony") %>
<body class="body-home">
<script type="text/javascript">$(document).ready(home);</script>
<div class="container">
  <!--Large Poster-->
  <div class="row">
    <!--Empty row-->
    <div class="col-md-3"></div>
    <!--Center row-->
    <center class="col-md-6 heading-home">
      <!--Heading-->
        <h1 class="title">HARMONY</h1>
        <h2 class="subtitle">Collaborate on sheet music worldwide.</h2>
    </center>
  </div>
  <!--Login Sign Up Widget-->
  <div class="row">
    <!--Button-->
    <div class="col-md-12">
      <!--Empty row-->
      <div class="col-md-3"></div>
      <!--Center row-->
      <div class="col-md-6 center-home">
        <!--Login Button-->
        <div class="col-md-6">
          <button type="submit" class="btn btn-default btn-block btn-lg login-tab" name="commit">LOGIN</button>
        </div>
        <!--Signup Button-->
        <div class="col-md-6">
          <button type="submit" class="btn btn-default btn-block btn-lg signup-tab" name="commit">SIGN UP</button>
        </div>
      </div>
    </div>
    <!--Form-->
    <div class="col-md-12">
      <!--Empty row-->
      <div class="col-md-4">
      </div>
      <!--Center row-->
      <div class="col-md-4">
        <!--Login Form-->
        <div class="col-md-12 login-box">
          <%= form_for(:session, url: login_path) do |f| %>
            <div class="error"><%= flash.now[:danger1] %></div><br/>
            <!--Username-->
            <div class="form-group">
              <%= f.label :username, class: 'sr-only' %>
              <%= f.text_field :username, class: 'form-control input', placeholder: "Enter Username" %>
            </div>
            <!--Password-->
            <div class="form-group">
              <%= f.label :password, class: 'sr-only' %>
              <%= f.password_field :password, class: 'form-control input', placeholder: "Enter Password" %>
            </div>
            <!--Login Button-->
            <%= f.submit "LOGIN", class: "btn btn-primary btn-block" %>
          <% end %>
          <!--Alternate Signup Button-->
          <center class="home-nav-link">
            <a href="#" class="signup-link">Don't have an account?</a>
          </center>
        </div>
        <!--Signup Form-->
        <div class="col-md-12 signup-box">
          <!--Sign Up Form-->
          <%= form_for(@user) do |f| %>
            <div class="error2"><%= flash.now[:danger2] %></div><br/>
            <!--Username-->
            <div class="form-group">
              <%= f.label :username, class: 'sr-only'%>
              <%= f.text_field :username, class: 'form-control input', placeholder: "Enter Username"%>
            </div>
            <!--Email-->
            <div class="form-group">
              <%= f.label :email, class: 'sr-only' %>
              <%= f.email_field :email, class: 'form-control input', placeholder: "Enter Email" %>
            </div>
            <!--Password-->
            <div class="form-group">
              <%= f.label :password, class: 'sr-only' %>
              <%= f.password_field :password, class: 'form-control input', placeholder: "Enter Password" %>
            </div>
            <!--Password Authentication-->
            <div class="form-group">
              <%= f.label :password_confirmation, "Confirmation", class: 'sr-only' %>
              <%= f.password_field :password_confirmation, class: 'form-control input', placeholder: "Re-Enter Password" %>
            </div>
            <!--Sign Up Button-->
            <%= f.submit "SIGN UP", class: "btn btn-primary btn-block" %>
          <% end %>
          <!--Alternate Signup Button-->
          <center class="home-nav-link">
            <a href="#" class="login-link">Already have an account?</a>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>
</body>