<% provide(:title, "Physics") %>
<body class="body-home">
<div class="container">
  <!--Large Poster-->
  <div class="row">
    <!--Empty row-->
    <div class="col-md-3 col-sm-3"></div>
    <!--Center row-->
    <center class="col-md-6 col-sm-3">
      <!--Heading-->
        <h1 class="title">i has physics</h1>
        <h2 class="subtitle">Make music with others.</h2>
    </center>
  </div>
  <div class="row">
    <!--Empty row-->
    <div class="col-md-4 col-sm-4"></div>
    <!--Center row-->
    <center class="col-md-4 col-sm-4 center-home">
      <!--Start accordion-->
      <div class="panel-group" id="accordion">
        <!--Login Panel-->
        <div class="panel panel-default">
          <!--Panel Heading-->
          <div class="panel-heading">
            <h1 class="panel-title">
              <a class="log-sign" data-toggle="collapse" data-parent="#accordion" href="#login">Login</a>
            </h1>
          </div>
          <!--Panel Content-->
          <div id="login" class="panel-collapse collapse in">
            <div class="panel-body">
              <!--Login Form-->
            <%= form_for(:session, url: login_path) do |f| %>
              <%= flash.now[:danger] %>
              <!--Username-->
              <div class="form-group">
              <%= f.label :username, class: 'sr-only' %>
              <%= f.text_field :username, class: 'form-control input', placeholder: "Enter Username" %>
              <!--Password-->
              </div><div class="form-group">
              <%= f.label :password, class: 'sr-only' %>
              <%= f.password_field :password, class: 'form-control input', placeholder: "Enter Password" %>
              </div>
              <!--Submit Button-->
              <%= f.submit "Login", class: "btn btn-primary btn-block" %>
            <% end %>
            </div>
          </div>
        </div>
        <!--Sign Up Panel-->
        <div class="panel panel-default">
          <!--Panel Heading-->
          <div class="panel-heading">
            <h1 class="panel-title">
              <a class="log-sign" data-toggle="collapse" data-parent="#accordion" href="#signup">Sign Up</a>
            </h1>
          </div>
          <!--Panel Content-->
          <div  id="signup" class="panel-collapse collapse">
            <div class="panel-body">
              <!--Sign Up Form-->
              <%= form_for(@user) do |f| %>
                <%= render 'shared/error_messages' %>
                <!--Username-->
                <div class="form-group">
                  <%= f.label :username, class: 'sr-only'%>
                  <%= f.text_field :username, class: 'form-control input', placeholder: "Enter Username"%>
                </div>
                <!--Email-->
                <div class="form-group">
                  <%= f.label :email, class: 'sr-only' %>
                  <%= f.email_field :email, class: 'form-control input', placeholder: "Enter Email" %>
                </div>
                <!--Password-->
                <div class="form-group">
                  <%= f.label :password, class: 'sr-only' %>
                  <%= f.password_field :password, class: 'form-control', placeholder: "Enter Password" %>
                </div>
                <!--Password Authentication-->
                <div class="form-group">
                  <%= f.label :password_confirmation, "Confirmation", class: 'sr-only' %>
                  <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Re-Enter Password" %>
                </div>
                <!--Signup Button-->
                <%= f.submit "Sign Up", class: "btn btn-primary btn-block" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </center>
  </div>
</div>
</body>
</html>
