<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title) %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
  <script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= favicon_link_tag 'harmony2.png' %>
  <%= csrf_meta_tags %>
	<link href=""
</head>
<%= yield %>
</html>