<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
  <script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
  <script type="text/javascript" src="https://gabelerner.github.io/canvg/rgbcolor.js"></script> 
  <script type="text/javascript" src="https://gabelerner.github.io/canvg/StackBlur.js"></script>
  <script type="text/javascript" src="https://gabelerner.github.io/canvg/canvg.js"></script> 
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="application/javascript">
    function start() {
        initialize();
        var sequencer = new Sequencer();
    }
  </script>
</head>
<body class="body-main" onload='start()'>
<!--Navbar-->
<%= render "layouts/header" %>
<!--Container-->
<div class="container-fluid">
  <!--Controls, Text Input, Chatbox-->
  <div class="col-md-4">
    <div class="col-md-12 editor-field editor-header">
      <!--Project Controls -->
      <div class="col-md-9">
        <h4>
          Name: <%= @project.name %><br/>
          Description: <%= @project.description %>
          <!-- Project Details Modal Button -->
        </h4>
      </div>
      <div class="col-md-3">          
        <% @pm = Permission.find_by(project_id: @project.id, level: "owner") %>
        <% @ow = User.find_by(id: @pm.user_id) %>
        <% if current_user == @ow %>
        <h5>
          <button type="button" class="btn btn-default profile-btn" data-toggle="modal" data-target="#edit-proj">
            <span class="glyphicon glyphicon-pencil form-group-addon"></span>
          </button>
        </h5>
        <h5>
          <button type="button" class="btn btn-default profile-btn" data-toggle="modal" data-target="#share-proj">
            <span class="glyphicon glyphicon-cloud form-group-addon"></span>
          </button>
          <% end %>
        </h5>
      </div>
      <!--Project Details Modal-->
      <div class="modal fade" id="edit-proj" tabindex="-1" role="dialog" aria-labelledby="Edit-Project" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="Edit-Project">Edit Project</h4>
            </div>
            <div class="modal-body">
              <table class="table-hover">
                <tr>
                <%= form_for @project do |f| %>
                  <td class="modal-table">
                    <p>
                      <%= f.label :name %>
                    </p>
                  </td>
                  <td class="modal-table">
                    <div class="input-group profile-group">
                      <%= f.text_field :name, class:"form-control profile-form", placeholder:"Enter Project Name", "aria-describedby" => "Project Name"%>
                      <span class="input-group-btn">
                        <%= f.submit class:"btn btn-primary profile-btn" %>
                      </span>
                    </div>
                  </td>
                <% end %>
                </tr>
                <tr>
                <%= form_for @project do |f| %>
                  <td class="modal-table">
                    <p>
                      <%= f.label :description %>
                    </p>
                  </td>
                  <td class="modal-table">
                    <div class="input-group profile-group">
                      <%= f.text_field :description, class:"form-control profile-form", placeholder:"Enter Project Name", "aria-describedby" => "Project Name"%>
                      <span class="input-group-btn">
                        <%= f.submit class:"btn btn-primary profile-btn" %>
                      </span>
                    </div>
                  </td>
                <% end %>
                </tr>
              </table>
              <div class="profile-destroy">
                <%= link_to 'Destroy this project', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default profile-btn profile-warning" %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default profile-btn" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!--Project Share Modal-->
      <div class="modal fade" id="share-proj" tabindex="-1" role="dialog" aria-labelledby="Edit-Sharing" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="share-proj">Share Settings</h4>
            </div>
            <div class="modal-body">
              <h4>Users with access to this project</h4>
              <table class="table-hover">
                <% @perms = @project.permissions %>
                <% @perms.each do |f| %>
                  <% @user = User.find_by(id: f.user_id) %>
                  <tr>
                    <td><%= link_to user_path(@user) do %>
                          <%= @user.username %>
                          <% if f.level == 'owner' %>
                            <%= " IS OWNER" %>
                          <% end %>
                        <% end %>
                    </td>
                  </tr>
                <% end %>
              </table>
              <h4>Give permissions to users</h4>
              <table class="table-hover">
                <tr>
                <%= form_for @permission do |f| %>
                  <td class="modal-table">
                    <p>
                      <% f.label :user_id, url: {action: 'gperm'} %>
                    </p>
                  </td>
                  <td class="modal-table">
                    <div class="input-group profile-group">
                      <%= f.text_field :user_id, class:"form-control profile-form", placeholder:"Enter User Name", "aria-describedby" => "Project Name"%>
                      <span class="input-group-btn">
                        <%= f.submit class:"btn btn-primary profile-btn" %>
                      </span>
                    </div>
                  </td>
                <% end %>
                </tr>
              </table>
              <!--Get rid of permissions for users
              <%= link_to 'Edit', edit_project_path(@project) %> |
              <%= link_to 'List of Projects', projects_path %>-->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default profile-btn" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Editor-->
    <div class="col-md-12 editor-field">
      <textarea class="form-control editor" id="editor-input"></textarea>
    </div>
    <!-- Firebase Script for Project -->
    <script>
      var project = new Firebase('https://brilliant-fire-2071.firebaseio.com/Projects/'.concat("project".concat(String(<%= @project.id %>))));
      $('#editor-input').on('input', function() {
          var text = $('#editor-input').val();
        project.push().set({text: text});
      });
      project.on('child_added', function(snapshot) {
      var message = snapshot.val();
      $('#editor-input').val(message.text).change();
      });
    </script>
    <!--CHATBOX-->
    <div class="col-md-12">
      <div class="editor-field chatbox" id='messagesDiv'>
        <input class="form-control sms" type='text' id='messageInput' placeholder='Message'>
        <!--FIREBASE SCRIPT FOR CHATBOX -->
        <script>
          var chat = new Firebase('https://brilliant-fire-2071.firebaseio.com/Projects/'.concat("chat".concat(String(<%= @project.id %>))));
          $('#messageInput').keypress(function (e) {
            if (e.keyCode == 13) {
              var name = "<%= current_user.username %>";
              var text = $('#messageInput').val();
              chat.push({name: name, text: text});
              $('#messageInput').val('');
            }
          });
          chat.on('child_added', function(snapshot) {
            var message = snapshot.val();
            displayChatMessage(message.name, message.text);
          });
          function displayChatMessage(name, text) {
            $('<div/>').text(text).prepend($('<em/>').text(name+': ')).appendTo($('#messagesDiv'));
            $('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight;
            $('#messagesDiv').children('div').addClass('chat-message');
          };
        </script>
      </div>
    </div>
  </div>
  <!--Output of Music Editor-->
  <div class="col-md-6 editor-render">
    <!--Playback Control-->
    <div class="col-md-12">
      <!--Empty Coloumn-->
      <div class="col-md-6 playback-control">
        <div class="btn btn-primary profile-btn" id="midiPlay">
          <span class="glyphicon glyphicon-play"></span>
        </div>
        <div class="btn btn-primary profile-btn" id="midiPause">
          <span class="glyphicon glyphicon-pause"></span>
        </div>
        <div class="btn btn-primary profile-btn" id="midiStop">
          <span class="glyphicon glyphicon-stop"></span>
        </div>
        <button class="btn btn-primary profile-btn" id="cmd">
          <span class="glyphicon glyphicon-floppy-disk"></span>
        </button>
        <!--MIDI Downloader-->
        <a class="btn btn-primary profile-btn" href="#" id="MIDIdown">
          <span class="glyphicon glyphicon-music"></span>
        </a>
        <script>
          $(document).ready(function() {
            $('#MIDIdown').hover(function() {
              var url = document.getElementById("midifileay").getAttribute("href");
              document.getElementById("MIDIdown").setAttribute("href", url);
              document.getElementById("MIDIdown").setAttribute("download", "music");
            });
          });
        </script> 
        <div id="midi" hidden="true"></div>
      </div>
      <div class="col-md-6">
        <div class="player">
          <div class="time-controls">
            <table>
              <tr>
                <td class="playback-capsule"><p id="time1" class="time">0:00</p></td>
                <td>
                  <span id="capsule">
                    <span id="cursor"></span>
                  </span>
                <td><span id="time2" class="time" style="text-align: left;">-0:00</span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="sheet-music" id="sheet-music"></div>
    <div class="abc-warning" id="warnings"></div> 
  </div>
  <!-- Editing tab -->
  <div class="col-md-2">
    <!--PNG making-->
    <canvas id="PDFcanvas" width="1000px" height="600px" hidden="true"></canvas> 
    <div id="editor"></div> 
    <!--MIDI Script-->
    <script type="text/javascript">
      //Quicktime hide and ABC editor
      $(document).ready(function() {   
        abc_editor = new ABCJS.Editor("editor-input", { canvas_id: "sheet-music", warnings_id:"warnings", midi_id:"midi"});
      });
      // midi playback functionality
      var MIDIPlayerPercentage = function(player) {
        // update the timestamp
        var time1 = document.getElementById("time1");
        var time2 = document.getElementById("time2");
        var capsule = document.getElementById("capsule");
        var timeCursor = document.getElementById("cursor");
        //
        eventjs.add(capsule, "drag", function (event, self) {
          eventjs.cancel(event);
          player.currentTime = (self.x) / 420 * player.endTime;
          if (player.currentTime <= 0) player.currentTime = 0;
          if (player.currentTime > player.endTime) player.currentTime = player.endTime;
          if (self.state === "down") {
            player.pause(true);
          } else if (self.state === "up") {
            player.resume();
          }
        });
        //
        function timeFormatting(n) {
          var minutes = n / 60 >> 0; 
          var seconds = String(n - (minutes * 60) >> 0);
          if (seconds.length == 1) seconds = "0" + seconds;
          return minutes + ":" + seconds;
        };
        
        player.setAnimation(function(data, element) {
          var percent = data.now / data.end;
          var now = data.now >> 0; // where we are now
          var end = data.end >> 0; // end of song
          // display the information to the user
          timeCursor.style.width = (percent * 100) + "%";
          time1.innerHTML = timeFormatting(now);
          time2.innerHTML = "-" + timeFormatting(end - now + 1);
        });
      };

      $(document).ready(function() {   
        var player = MIDI.Player;
        MIDI.loadPlugin(function() {
          $('#midiPlay').click(function() {
            var url = document.getElementById("midifileay").getAttribute("href");
            console.log(url);
            player.timeWarp =1;
            if(player.currentTime === 0 || player.currentTime === player.endTime) {
              MIDI.Player.loadFile(url, player.start);
            }
            else {
              player.resume();
            }
            MIDIPlayerPercentage(player);
          });
        });
        $('#midiPause').click(function() {
          MIDI.Player.pause();
        });
        $('#midiStop').click(function() {
          MIDI.Player.stop();
        });
      });
    </script>
  </div>
  <div onload="start()">
    <!-- MIDI Playback -->
    <div id="menu">
        <div id="options">
            <div id="note-lengths">   
              <div class="button">
                <input type="radio" name="a" value="whole" id="whole" />
                <label for="whole"><%= image_tag "whole-note.jpg" %></label>
              </div>
              <div class="button">
                  <input type="radio" name="a" value="half" id="half" />
                  <label for="half"><%= image_tag "half-note.jpg" %></label>
              </div>
              <div class="button">
                  <input type="radio" name="a" value="quarter" id="quarter" />
                  <label for="quarter"><%= image_tag "quarter-note.jpg" %></label>
              </div>
              <div class="button">
                  <input type="radio" name="a" value="eigth" id="eigth" />
                  <label for="eigth"><%= image_tag "eigth-note.jpg" %></label>
              </div>
              <div class="button">
                  <input type="radio" name="a" value="sixteenth" id="sixteenth" />
                  <label for="sixteenth"><%= image_tag "sixteenth-note.jpg" %></label>
              </div>
            </div>
        </div>
    </div>
    <!--Keyboard-->
    <div id="main">
      <div id="piano-container">
        <div id="piano">
           <canvas id="white-keys"  width="150"></canvas>                
           <canvas id="black-keys"  width="150"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>